<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rekon Scanner</title>
    <script src="{{ url_for('static', filename='cdnjs.cloudflare.com_ajax_libs_socket.io_3.0.3_socket.io.js') }}"></script>
    <style>
        #log-container {
            border: 1px solid #ccc;
            margin-top: 10px;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-out;
        }

        #log-content {
            padding: 8px;
            overflow-y: scroll;
            height: 300px;
        }
    </style>
</head>
<body>
    <h1>rekon Scanner</h1>
    
    <form action="/run_scan" method="post" id="scanForm">
        <button type="submit" id="run-scan-button" onclick="startScan()">Run Scan</button>
    </form>

    <button onclick="toggleLog()">Toggle Log</button>

    <div id="log-container">
        <div id="log-content"></div>
    </div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var logContainer = document.getElementById('log-container');
        var logContent = document.getElementById('log-content');

        function toggleLog() {
            if (logContainer.style.maxHeight) {
                logContainer.style.maxHeight = null;
            } else {
                logContainer.style.maxHeight = logContainer.scrollHeight + 'px';
            }
        }

        function startScan() {
            var runButton = document.getElementById('run-scan-button');

            if (runButton) {
                runButton.disabled = true;

                // Clear the log content when starting a new scan
                logContent.innerHTML = '';

                socket.emit('run_scan'); // Send signal to start the scan
            } else {
                console.error('One or more elements not found.');
            }
        }

        socket.on('scan_update', function(data) {
            // Extract the relevant information from the received object
            var logMessage = data.data || '';

            // Append the received data to the logContent
            logContent.innerHTML += logMessage + '<br>';

            // Scroll to the bottom to show the latest update
            logContent.scrollTop = logContent.scrollHeight;
        });

        socket.on('scan_complete', function() {
            var runButton = document.getElementById('run-scan-button');

            if (runButton) {
                runButton.disabled = false;
            } else {
                console.error('One or more elements not found.');
            }
        });
    </script>

</body>
</html>
